/* General App Wide Styles */
#menu-layout {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

#app-content {
  flex: 1 1 auto;
}

#footer {
  flex: 0 1 5vh;
  background-color: #3D96AB;
  justify-content: center;
  display: flex;
}

/* Generic Helper Styles */

.center-align {
  display: flex;
  justify-content: center;
}

.right-align {
  margin-left: auto;
}

.black-border {
  border-radius: 0; 
  border: 1px solid #000000; 
}

.right-btn {
  float: right;
}

/* App Header Styling */
.nav-header {
  flex: 0 1 auto;
  align-items: center;
  font-weight: 500;
  font-size: large;
  border-bottom: 12px solid #91c3d3;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  background-color: #3D96AB;
  padding-bottom: 0px !important;
}

.nav-tabs {
  border-bottom: 0 !important;
}

.nav-link{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-bottom: 0 !important;
}

.nav-link.active {
  color: #fff !important;
  background: #91c3d3 !important;
  border: 0 !important;
}

.header-logo {
  height: 6vh;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 5px;
}

#welcome {
  color: white;
}

/* Login Specific Styles */
#login-header {
  padding-left: 2vw;
  padding-right: 2vw;
}

#login-form {
  min-width: 320px;
  max-width: 25vw;
}

#login-message {
  margin-top: 5vh;
  font-size: x-large;
  margin-bottom: 6vh;
}

.login-title {
  margin-left: auto; 
  margin-right: 0;
  color: white;
}

/* Floorplan Specific Styles */
.floorplan-canvas {
  width: 50vw;
  padding-left: 5px;
}

.floorplan-canvas .display {
  overflow: auto;
  height: 80vh;
}

/* Schedules Specific Styles */
#schedules {
  margin-top: 1rem;
  display: flex;
  gap: 12px;
}

/* Profiles Specific Styles */
#profiles-header {
  padding: 2.5%;
  padding-top: 5px;
  padding-bottom: 3px;
  background-color: #dff1f0;
  display: flex;
  align-items: center;
}

#profiles-table {
  margin-top: 1vh;
  width: 95vw;
}

.action-button{
  margin-top: -0.5rem;
  margin-right: 1rem;
}

.table-actions {
  max-height: 1vh;
}
